<ion-header>
  <ion-navbar [color]="navbarcolor">
    <ion-title>
      Participer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- The Header section of the content -->
  <ion-list>
    <ion-row>
      <ion-col width-75>
        <div style="padding-left: 10px;">
          <h6 style="font-weight: bold;">Proposer une idée ou un projet</h6>
          <p style="font-size: smaller;">Votre idée sera soumise au vote de la communauté et remontée à votre mairie.</p>
        </div>
      </ion-col>
      <ion-col width-25>
        <button full ion-button class="submit" (click)="fillInformation()">
          <div>
            <ion-icon name="bulb" style="font-size: 35px;"></ion-icon>
            <h6 style="font-size: smaller">Proposer</h6>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- The Header section of the content -->

  <!-- The main section of the content -->
        <div style="height: 20px;">  
            <p *ngIf="postIsEmpty" class="text-indicator">Aucunes propositions en cours</p>
            <p *ngIf="!postIsEmpty" class="text-indicator">Propositions en cours</p>
        </div>

        <ion-row *ngFor="let post of posts">
          <ion-card>
              <ion-card-header>
                {{post.suggestionTitle}}
              </ion-card-header>
              <ion-card-content>
                
                <p class="text-content">{{post.suggestionDetail}}</p>
                
                <div class="text-author">
                  Par {{post.authorName}} {{post.authorFirstName}}, le 22/03/2017
                </div>
                <ion-row>
                  <ion-col width-60><button ion-button outline block style="padding-left: 5px;" color="primary" (click)="moreDetail(post)" >Détail</button></ion-col>
                  <ion-col width-20>
                    <button ion-button color="darkgreen" [disabled]="post.hasLiked" block (click)="dolike(post)">{{post.like}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                  </ion-col>
                  <ion-col width-20><button ion-button color="darkred" [disabled]="post.hasDisliked" block (click)="doDislike(post)">{{post.dislike}} <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></ion-col>
                </ion-row>
              </ion-card-content>
          </ion-card>
        </ion-row>
    
  <!-- The main section of the content -->
</ion-content>
