<ion-header>
  <ion-navbar [color]="navbarcolor">
    <ion-title>
      Participer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- The Header section of the content -->
  <ion-list>
    <ion-row>
      <ion-col width-75>
          <h6>Proposer une idée ou un projet</h6>
          <p>Votre idée sera soumise au vote de la communauté et remontée au niveau de la mairie.</p>
      </ion-col>
      <ion-col width-25>
        <button full ion-button style=" padding-top: 10%; width: 100%; height: 80%; background-color: #efa21c" (click)="fillInformation()">
          <div>
            <ion-icon name="bulb"></ion-icon>
            <h6 style="font-size: smaller">Proposer</h6>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- The Header section of the content -->

  <!-- The main section of the content -->
    <ion-grid>
        <ion-row>
          <ion-col text-center>
            <p *ngIf="postIsEmpty">Aucunes propositions en cours</p>
            <p *ngIf="!postIsEmpty">Propositions en cours</p>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let post of posts">
          <ion-card>
              <ion-card-header>{{post.suggestionTitle}}</ion-card-header>
              <ion-list>
                  <ion-item style="font-size: small;">{{post.suggestionDetail}}</ion-item>
                  <ion-item style="font-size: small; ">Par {{post.authorName}} {{post.authorFirstName}}, le {{date}}</ion-item>
              </ion-list>
            <ion-row>
              <ion-col width-60><button ion-button outline color="primary" block (click)="moreDetail(post)">Detail</button></ion-col>
              <ion-col width-20>
                <button ion-button color="darkgreen" block (click)="dolike(post)">{{post.like}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
              </ion-col>
              <ion-col width-20><button ion-button color="darkred" block (click)="doDislike(post)">{{post.dislike}} <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
    </ion-grid>
  <!-- The main section of the content -->
</ion-content>
