<ion-header>
  <ion-navbar [color]="navbarcolor">
    <ion-title>
      Participer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- The Header section of the content -->
  <ion-list>
    <ion-row>
      <ion-col width-75>
        <div style="padding-left: 10px;">
          <h6 style="font-weight: bold;">Proposer une idée ou un projet</h6>
          <p style="font-size: smaller;">Votre idée sera soumise au vote de la communauté et remontée à votre mairie.</p>
        </div>
      </ion-col>
      <ion-col width-25>
        <button full ion-button style=" border-radius: 5px; padding-top: 10%; width: 100%; height: 80%; background-color: #efa21c" (click)="fillInformation()">
          <div>
            <ion-icon name="bulb"></ion-icon>
            <h6 style="font-size: smaller">Proposer</h6>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- The Header section of the content -->

  <!-- The main section of the content -->
    <ion-grid>
        <ion-row>
          <ion-col text-center>
            <p *ngIf="postIsEmpty" style="font-size: medium; color: #ffffff;">Aucunes propositions en cours</p>
            <p *ngIf="!postIsEmpty" style="font-size: medium; color: #ffffff;">Propositions en cours</p>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let post of posts">
          <ion-card>
              <ion-card-header text-wrap>
                {{post.suggestionTitle}}
              </ion-card-header>
              <ion-card-content>
                
                <p class="text-content">{{post.suggestionDetail}}</p>
                
                <div class="text-author">
                  Par {{post.authorName}} {{post.authorFirstName}}, le 22/03/2017
                </div>
                <!--<ion-row>
                    <ion-item  style="font-size: small; max-height: 55px; ">{{post.suggestionDetail}}</ion-item>
                    <ion-item style="font-size: small; ">Par {{post.authorName}} {{post.authorFirstName}}, le {{date}}
                  </ion-item>
                </ion-row> -->
                
                <ion-row>
                  <ion-col width-60><button ion-button outline block style="padding-left: 5px;" color="primary" (click)="moreDetail(post)" >Détail</button></ion-col>
                  <ion-col width-20>
                    <button ion-button color="darkgreen" [disabled]="post.hasLiked" block (click)="dolike(post)">{{post.like}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                  </ion-col>
                  <ion-col width-20><button ion-button color="darkred" [disabled]="post.hasDisliked" block (click)="doDislike(post)">{{post.dislike}} <i class="fa fa-thumbs-down" aria-hidden="true"></i></button></ion-col>
                </ion-row>
              </ion-card-content>
          </ion-card>
        </ion-row>
    </ion-grid>
  <!-- The main section of the content -->
</ion-content>
