
  page-home {

    ion-content {
      -webkit-background-image: url("../assets/monsondage.png");
      background-image: url("../assets/monsondage.png");
      background-origin: content-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;


      ion-list {
       background-color: #f8f8ff;

        ion-item{

          ion-row {

            text-align: inherit;
            text-justify: auto;

            h6 {
              font-size: medium;
            }

            .btn {
              padding-top: 10%; width: 100%; height: 80%; background-color: #efa21c;
            }

          }
        }
      }

    }

    ion-card {

      ion-card-header {
        font-weight: bold !important;
        border-bottom: 2px solid #f2f2f2;
      }

      ion-card-content {

      }
    }

    $font-size: 10px;
    $line-height: 21px;
    $lines-to-show: 2;

    .text-content {
      display: block;
      display: -webkit-box;
      overflow: hidden;
      height: 50px;
      margin: 0 auto;
      line-height: $line-height !important;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      white-space: normal;
      width: 100%;
      text-overflow: ellipsis !important;
      padding-top: 10px;
   }

   .text-author {
      font-size: smaller;
      padding-top: 10px;
      padding-left: 2px;
   }

   .text-indicator {
      font-size: medium;
      color: map-get($colors, light);
      padding-bottom: 40px;
      text-align: center;
      align-content: center;
   }

    .submit {
      border-radius: 5px;
      padding-top: 10%;
      width: 100%;
      height: 80%;
      background-color: map-get($colors, bulbColor);
   }

   .back-header {
       background-color: #f8f8ff;
    }

    .text-header {
      padding-left: 10px;

      .highlight {
        font-weight: bold;
        font-size: medium;
      }

      .text {
        font-size: 12px;
        padding-bottom: 10px; 
      }
    }

    .make-suggestion {
      .icon-size {
        font-size: 44px;
      }
      #text {
        font-size: smaller;
      }
    }

    .proposition {
      height: 20px;
      align-content: center;
    }

    .detailButton { 
      padding-left: 5px; 
    }
}

.ios {
  .list-ios {
    margin: auto !important; 
  }
}

