<!--
  Generated template for the Form page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
  -->
  <ion-header>

    <ion-navbar [color]="navbarColor">
      <ion-buttons end>
        <button ion-button color="dark" (click)="close()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Remplisser le formulaire</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content>

      <ion-row>
        <ion-col text-center>
          <h6>Participez aux décisions de la ville</h6>
          <p> Soumettez votre idée afin qu'elle soit examinée par votre mairie. Merci pour la contribution active que vous posez.</p>
        </ion-col>
      </ion-row>

    <!-- the beginning of the form -->
      <form [formGroup]="validForm">
        
        <!-- Contact Identity -->
        <ion-card class="contactIdentity">
          <ion-card-content>
            <br>
            <ion-item>
              <label class="gender-choice" for="male">
                <input  type="radio" id="male" value="monsieur" [class.invalid]="!validForm.controls.authorTitle.valid && (validForm.controls.authorTitle.dirty || formIsNotValid)" [(ngModel)]="post.authorTitle" formControlName="authorTitle" checked> Monsieur 
              </label>
              <label class="gender-choice" for="female">
                <input type="radio" id="female" value="madame" [class.invalid]="!validForm.controls.authorTitle.valid && (validForm.controls.authorTitle.dirty || formIsNotValid)" [(ngModel)]="post.authorTitle" formControlName="authorTitle"> Madame <br>
              </label>
            </ion-item>

            
            <ion-item class="border-bottom">
                <ion-label floating>Nom</ion-label>
                <ion-input tex-uppercase type="text" [class.invalid]="!validForm.controls.authorName.valid && (validForm.controls.authorName.dirty || formIsNotValid)" formControlName="authorName" [(ngModel)]="post.authorName" name="authorName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!validForm.controls.authorName.valid && (validForm.controls.authorName.dirty || formIsNotValid)">
                <p ion-text class="text-warning" color="danger">Veuillez entrer un nom valide.</p>
            </ion-item>

            <ion-item class="border-bottom">
                <ion-label floating>Prénom</ion-label>
                <ion-input text-capitalize type="text" [class.invalid]="!validForm.controls.authorFirstName.valid && (validForm.controls.authorFirstName.dirty || formIsNotValid)" formControlName="authorFirstName" [(ngModel)]="post.authorFirstName" name="authorFirstName"></ion-input>
            </ion-item>
            <ion-item *ngIf="!validForm.controls.authorFirstName.valid && (validForm.controls.authorFirstName.dirty || formIsNotValid)">
                <p ion-text class="text-warning" color="danger">Veuillez entrer un prénom valide.</p>
            </ion-item>
              
            <ion-item class="border-bottom">
                <ion-label floating>Email</ion-label>
                <ion-input type="text" [class.invalid]="!validForm.controls.authorEmail.valid && (validForm.controls.authorEmail.dirty || formIsNotValid)" formControlName="authorEmail" [(ngModel)]="post.authorEmail" name="authorEmail"></ion-input>
            </ion-item>
            <ion-item *ngIf="!validForm.controls.authorEmail.valid && (validForm.controls.authorEmail.dirty || formIsNotValid)">
                <p ion-text class="text-warning" color="danger">Veuillez entrer une adresse mail valide.</p>
            </ion-item>
          
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <p class="suggestion-label">Titre de votre proposition</p>
          </ion-card-header>
          <ion-card-content>
            <ion-textarea class="placeholder-txt" placeholder="100 caractères maximum" [class.invalid]="!validForm.controls.suggestionTitle.valid && (validForm.controls.suggestionTitle.dirty || formIsNotValid)" formControlName="suggestionTitle" [(ngModel)]="post.suggestionTitle" name="suggestionTitle" ></ion-textarea>
            <ion-item *ngIf="!validForm.controls.suggestionTitle.valid && (validForm.controls.suggestionTitle.dirty || formIsNotValid)">
              <p ion-text class="text-warning" color="danger">Le maximum de caractère requis est de 100.</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <p class="suggestion-label">Détail de votre proposition</p>
          </ion-card-header>
          <ion-card-content>
            <ion-textarea class="placeholder-txt"  placeholder="1000 caractères maximum" [class.invalid]="!validForm.controls.suggestionDetail.valid && (validForm.controls.suggestionDetail.dirty || formIsNotValid)" formControlName="suggestionDetail" [(ngModel)]="post.suggestionDetail" name="suggestionDetail"></ion-textarea>
            <ion-item *ngIf="!validForm.controls.suggestionDetail.valid && (validForm.controls.suggestionDetail.dirty || formIsNotValid)">
              <p ion-text class="text-warning" color="danger">Le maximum de caractères requis est de 1000.</p>
            </ion-item>
          </ion-card-content>
        </ion-card>



      </form>

      <ion-row>
        <ion-col>
          <button ion-button full [color]="bulbColor" class="submit-btn" (click)="savePost()">Proposer</button>
        </ion-col>
      </ion-row>

    <!-- The end of a Form -->
  </ion-content>


