page-form {
  
  ion-content {
    background-color: #f2f2f2 !important;

    ion-row {

      h6 {
        font-size: medium;
      }

      p {
        font-size: small;
      }
    }
   }

  .contactIdentity {
    .border-bottom {
      margin-bottom: 4px;
    .input-wrapper {
        border-bottom: solid 1px grey;
      }
    }
    .border-bottom:last-child {
      margin-bottom: 20px;
    }
  }

   textarea {
    min-height: 180px;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .gender-choice:last-child {
    margin-left: 20px;
  }

   ion-label, .placeholder-txt {
    color: #373637 !important;
    font-size: 16px;
  }


}
