<!--
  Generated template for the Form page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
  -->
  <ion-header>

    <ion-navbar [color]="navbarColor">
      <ion-buttons end>
        <button ion-button color="dark" (click)="close()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Remplisser le formulaire</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content>

      <ion-row>
        <h6 style="margin-left:20px;">Participez aux décisions de la ville</h6>
        <p style="margin-left:20px;"> Soumettez votre idée afin qu'elle soit examinée par votre mairie. Merci pour la contribution active que vous posez.</p>
      </ion-row>

    <!-- the beginning of the form -->
      <form [formGroup]="validForm">
        <ion-row>
          <p style="margin-left:20px;" *ngIf="formIsNotValid" class="center" ion-text color="danger">Veuillez remplir tous les champs</p>
        </ion-row>
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-item>
                <ion-label><h6>Titre</h6></ion-label>
                <ion-select [class.invalid]="!validForm.controls.authorTitle.valid && (validForm.controls.authorTitle.dirty || formIsNotValid)" [(ngModel)]="post.authorTitle" formControlName="authorTitle" name="authoTitle">
                  <ion-option value="monsieur" ><h6>Monsieur</h6></ion-option>
                  <ion-option value="madame"><h6>Madame</h6></ion-option>
                </ion-select>
              </ion-item>

            </ion-row>
            <ion-row>
              <ion-item>
                <ion-label floating><h6>Nom</h6></ion-label>
                <ion-input type="text" [class.invalid]="!validForm.controls.authorName.valid && (validForm.controls.authorName.dirty || formIsNotValid)" formControlName="authorName" [(ngModel)]="post.authorName" name="authorName"></ion-input>
              </ion-item>
              <ion-item *ngIf="!validForm.controls.authorName.valid && (validForm.controls.authorName.dirty || formIsNotValid)">
                <h6 style="font-size: x-small" color="danger">Veuillez entrer un nom valide.</h6>
              </ion-item>
              <ion-item>
                <ion-label floating><h6>Prénom</h6></ion-label>
                <ion-input type="text" [class.invalid]="!validForm.controls.authorFirstName.valid && (validForm.controls.authorFirstName.dirty || formIsNotValid)" formControlName="authorFirstName" [(ngModel)]="post.authorFirstName" name="authorFirstName"></ion-input>
              </ion-item>
              <ion-item *ngIf="!validForm.controls.authorFirstName.valid && (validForm.controls.authorFirstName.dirty || formIsNotValid)">
                <h6 style="font-size: x-small" color="danger">Veuillez entrer un prénom valide</h6>
              </ion-item>
              <ion-item>
                <ion-label floating><h6>Email</h6></ion-label>
                <ion-input type="text" [class.invalid]="!validForm.controls.authorEmail.valid && (validForm.controls.authorEmail.dirty || formIsNotValid)" formControlName="authorEmail" [(ngModel)]="post.authorEmail" name="authorEmail"></ion-input>
              </ion-item>
              <ion-item *ngIf="!validForm.controls.authorEmail.valid && (validForm.controls.authorEmail.dirty || formIsNotValid)">
                <h6 style="font-size: x-small" color="danger">Veuillez entrer une adresse mail valide.</h6>
              </ion-item>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <h5>Titre de votre proposition</h5>
          </ion-card-header>
          <ion-card-content>
            <ion-textarea  placeholder="100 caractères minimum" [class.invalid]="!validForm.controls.suggestionTitle.valid && (validForm.controls.suggestionTitle.dirty || formIsNotValid)" formControlName="suggestionTitle" [(ngModel)]="post.suggestionTitle" name="suggestionTitle" ></ion-textarea>
            <ion-item *ngIf="!validForm.controls.suggestionTitle.valid && (validForm.controls.suggestionTitle.dirty || formIsNotValid)">
              <h6 style="font-size: x-small;" color="danger">Le maximum de caractère requis est de 100.</h6>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <h5>Détail de votre proposition</h5>
          </ion-card-header>
          <ion-card-content>
            <ion-textarea  placeholder="1000 caractères minimum" [class.invalid]="!validForm.controls.suggestionDetail.valid && (validForm.controls.suggestionDetail.dirty || formIsNotValid)" formControlName="suggestionDetail" [(ngModel)]="post.suggestionDetail" name="suggestionDetail"></ion-textarea>
            <ion-item *ngIf="!validForm.controls.suggestionDetail.valid && (validForm.controls.suggestionDetail.dirty || formIsNotValid)">
              <h6 style="font-size: x-small;" color="danger">Le maximum de caractères requis est de 1000.</h6>
            </ion-item>
          </ion-card-content>
        </ion-card>



      </form>

      <ion-row>
        <ion-col>
          <button ion-button full [color]="bulbColor" (click)="savePost()">Proposer</button>
        </ion-col>
      </ion-row>

    <!-- The end of a Form -->
  </ion-content>


