<!--
  Generated template for the Progressbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-row>
    <div class="customRatingBar">
        <div class="like" [style.width]="like +'%'">
        	<div style="padding-top: 5px;">{{like}}%</div>
        </div>
        <div class="dislike" [style.width]="dislike+'%'">
        	<div style="padding-top: 5px;">{{dislike}}%</div>
        </div>
    </div>
</ion-row> 